<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>{{ title }}</title>
    <style>
        body {
            background-image: url('https://source.unsplash.com/random/1920x1080');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="bg-gray-900 bg-opacity-75">
    <nav class="bg-blue-900 bg-opacity-75 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="{{ url_for('upload_video') }}" class="hover:underline">Upload</a>
                <a href="{{ url_for('result') }}" class="hover:underline ml-4">Results</a>
                <a href="{{ url_for('Reframe') }}" class="hover:underline ml-4">Reframe</a>
                <a href="{{ url_for('home') }}" class="hover:underline ml-4">Home</a>

            </div>
            <b>Shorts Reframing Tool</b>
        </div>
    </nav>
    <div class="container mx-auto mt-6">
        <div class="bg-white bg-opacity-75 p-6 rounded-lg shadow-lg">
           
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
